@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 3 7 18;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: 3 6 23;
    --fg: 226 232 240;
  }
}

html, body {
  height: 100%;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--fg));
}
